# Don't track content of these folders
archive/
20191007/

# Don't track .DS_Store
paper/.DS_Store
run_dir/.DS_Store
.DS_Store

# Don't track ipynb checkpoints
.ipynb_checkpoints/

# Don't track these large files
20191007.zip
pph.csv
input/est0_evecs.csv
input/true_evecs.csv
input/est0_evals.csv
input/true_evals.csv
input/edecomp.zip
