# Don't track content of these folders
archive/
20191007/
plots*/
presentation_plots/

# Don't track .DS_Store
*/.DS_Store
.DS_Store

# Don't track weird Mac objects
~*
*/~*

# Don't track ipynb checkpoints
.ipynb_checkpoints/

# Don't track the sublime workspace information
*sublime*

# Don't track these large files
20191007.zip
pph.csv
input/est0_evecs.csv
input/true_evecs.csv
input/est0_evals.csv
input/true_evals.csv
input/edecomp.zip

# Don't track scratch files
python/scratch*

# Don't track __pycache__/
__pycache__
*/__pycache__/

# Don't track Adobe Illustrator files
*/*.ai

# Don't track paper files (this is being added so that the git repo
# can be made public)
paper/
